<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<body>
    <div>
        <h1><%= article.title %></h1>
        <h2><%= article.description %></h2>
        <h3><%= article.tags %></h3>
        <h3><%= article.likes %></h3>
        <h3><%= article.author %></h3>
        <button><a href="/articles/<%=article._id%>/like">Like</a></button>
        <button><a href="/articles/<%=article._id%>/edit">Edit</a></button>
        <button><a href="/articles/<%=article._id%>/delete">Delete</a></button>
    </div>
    <form action="/articles/<%= article._id %>/comments" method="post">
        <textarea name="content" id="comment" cols="30" rows="10"></textarea>
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <button>Add Comment</button>
    </form>
    <% article.comments.forEach((comment) => { %>
        <h1><%= comment.content %></h1>
        <h2><%= comment.author %></h2>
        <h3><%= comment.likes %></h3>
        <button><a href="/comments/<%=comment._id%>/like">Like</a></button>
        <button><a href="/comments/<%=comment._id%>/edit">Edit</a></button>
        <button><a href="/comments/<%=comment._id%>/delete">Delete</a></button>
    <% }) %>
</body>
</html>